

.jumbotronA {
    position: relative;
    background: url(../assets/uppeerJumbo.jpg);
    height: 30vh;
    width: auto;
    background-size: cover;
    transform: translateY(-40);
}

.jumbotronB {
    position: relative;
    background: url(../assets/uppeerJumbo.jpg);
    height: 30vh;
    width: auto;
    background-size: cover;
    transform: translateY(-40);
}

.jumbotronA:hover, .jumbotronB:hover {
    opacity: 0.6;
    transition: all 700ms;
}  

.homeText{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: white;
}

